.section-rewrite{
    padding: 100px 50px 0 0;
}

.video-rewrite{
    background-color: #f7f7f7;
}

.logo{
    margin-top: 6px !important;
}

.btn-main{
    background: #FC6454 !important;
    border: 1px solid #FC6454 !important;
}

.title .border {
    background-color: #FC6454 !important;
}
.logo-foot{
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.title h2 {
    font-weight: 450 !important;
}