/*.section-rewrite{*/
/*padding: 100px 50px 0 0;*/
/*}*/

.video-rewrite {
    background-color: #F7F7F7;
}

.logo {
    margin-top: 6px !important;
}

.btn-main {
    background: #FC6454 !important;
    border: 1px solid #FC6454 !important;
}

.title .border {
    background-color: #FC6454 !important;
}

.logo-foot {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.title h2 {
    font-weight: 450 !important;
}

@media only screen and (max-width: 500px) {
    .mobile-title {
        font-size: 35px !important;
        font-weight: 450 !important;
    }

    .mobile-content {
        font-size: 16px !important;
        width: 100vw !important;
        margin-top: 50px !important;
        line-height: inherit !important;
        word-wrap: break-word !important;
        word-break: normal !important;
        white-space:pre-wrap !important;
    }
    .mobile-button{
        line-height: inherit !important;
        margin-top: 150px !important;
    }
}